@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;

    background-color: #272533;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    caret-color: transparent;
}


#container__digits {
    height: 100vh;
    width: 100vw;

    display: grid;
    place-items: center;
}

#input__digits:active {
    border: none;
}

#input__digits {
    border: none;
    outline: none;

    font-size: 200px;
    width: 100vw;
    height: 100vh;

    text-align: center;
}


@media only screen and (orientation: portrait) {
    #container__digits {
        display: none;
    }
}


#container__information {
    height: 100vh;
    width: 100vw;

    display: grid;
    place-items: center;
}

@media only screen and (orientation: landscape) {
    #container__information {
        display: none;
    }
}